body {
  background-color: #352f5b;
}
.container {
  max-width: 600px;
}
input[type="number"],
input[type="number"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 350px;
}
.userdetails li {
  background: #423a6f;
}
.userdetails li img {
  width: 100px;
  height: 100px;
}
